{% extends "layout.html" %}
{% block content %}
<body>
<div class="container">
    <section id="content">
<form class="form-horizontal" action="{{ url_for('new-password') }}" method="POST">
  <fieldset>
    <div class="legend">
       <p>Please create a new password: </p>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- Confirm Password -->
      <label class="control-label"  for="passwordConfirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" class="input-xlarge" required>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}