{% extends "layout.html" %}
{% block content %}
<body>
<div class="container">
    <section id="content">
<form class="form-horizontal" action="{{ url_for('reset_password') }}" method="POST">
  <fieldset>
    <div class="legend">
       <h1>Reset Password</h1>
    </div>

        <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="email">Please enter in your E-Mail:</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="E-mail" class="input-xlarge" required>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Reset</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}
