{% extends "layout.html" %}
{% block content %}
<div class="wrapper fadeInDown">
    <div class="fadeIn first login_user">
        <p>{{ message }}</p>

    </div>

  <div id="formContent">
   <div class="fadeIn first">
      <span class="glyphicon glyphicon-user"></span><h1>Book Login Form</h1>
    </div>
    <form action="{{ url_for('login') }}" method="POST">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="register">
        <input type="button" onclick="location.href='/register';" class="fadeIn fourth" value="Register" />
    </div>
    <div id="formFooter">
      <a class="underlineHover fadeIn fourth" href="/forgot-password">Forgot Password?</a>
    </div>
  </div>
</div>
{% endblock %}
