<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Site</title>
    <link rel='icon' href='static/images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    {% if in_session %}
    <div class="topnav">
        <nav>
            <a class="topnav" href="{{ url_for('logout') }}">Logout</a>
            <p class="topnav"> {{ session_message }}</p>
        </nav>
    </div>
    {% else %}
    {% endif %}

</header>
<body>


{% block content%}
{% endblock %}


</body>
</html>
