<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Site</title>
    <link rel='icon' href='static/images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

{% if is_session %}
<ul id="nav_bar">
    <li class="nav_button"><p> {{ message }}</p></li>
    <li class="nav_button"><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% else %}
{% endif %}

{% block content%}
{% endblock %}


</body>
</html>
